build/.cmake/*
build/Testing/Temporary/
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
*.cmake
Makefile
*.so
*.so.*
_out64
out32/*
out64/*
*.x86_64
*.arm64
*.plist
*.dSYM/*
*.pyc
build
build32
dbuild
build-android/external
.DS_Store
# Project binaries
cidr_ranges
test-vars
test-args
rectangle
